{# home/home.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ section }}{% endblock %}
{% block content %}
    <!-- Banner -->
    <section id="banner">
        <div class="content">
            <header>
                <h1>Hi, I’m James Judge</h1>
                <h2>Software development consultant</h2>
                <p>Available for contract - jobs big and small</p>
            </header>
            <p style="color: #3d4449">
                I began my career back in 1997 building web pages for mortgage companies all across the country
                to advertise their rates and programs for the nations largest publisher of mortgage rate data.
                Shortly thereafter became part of a small group of people that built our own dial up internet and
                web hosting company. Our internet company expanded to include system networking and building
                custom computers for small to medium size businesses. As the internet grew, changed and upgraded
                I stayed ahead of the curve embracing new programming languages and technologies as they emerged.
                After over 20 years in the field I am now a Linux expert focusing on object oriented PHP development
                working full-stack with a number of javascript frameworks on the front end and many relational
                databases on the back end.
            </p>
            <ul class="actions">
                <li><a href="/skills" class="button big">Learn More</a></li>
            </ul>
        </div>
        <span class="image object">
            <img src="images/pic10.jpg" alt="" />
        </span>
    </section>
{% endblock %}